body {
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

.btn-custom {
  background: #00263a;
  display: inline-block;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.01em;
  color: rgba(255,255,255,0.8) !important;
  transition: .3s ease;
  border-radius: 2px;
  border: none;
}

.btn-custom.btn-trade-in {
  white-space: nowrap;
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='46' viewBox='0 0 27 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.88002 0L0.27002 26.45H9.48002L4.88002 46L26.73 18.4H16.38L25.58 0H4.88002Z' fill='%23EFCC00'/%3E%3C/svg%3E%0A");
  padding: 10px 10px 10px 29px;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 9px center;
  box-sizing: border-box;
}

.btn.btn-secondary {
  background-color: #ff671f;
  padding-right: 30px;
  padding-left: 30px;
}

.header .btn-custom.btn-trade-in {
  margin-right: 10px;
}

.header .btn-custom.btn-trade-in:hover {
  background: none;
  background-color: #fe7635;
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='46' viewBox='0 0 27 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.88002 0L0.27002 26.45H9.48002L4.88002 46L26.73 18.4H16.38L25.58 0H4.88002Z' fill='%23EFCC00'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 9px center;
}

.widget-wrap {
  padding: 20px 20px 0;
  border-top: 1px solid #eee;
  scroll-margin: 80px;
  position: relative;
  z-index: 1;
}

.page-one-project .widget-wrap {
  scroll-margin: 100px;
}

.page-tradein .widget-wrap {
  scroll-margin: 150px;
}

.trade-up-columns {
  display: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  max-height: 45rem;
}

.one-project__rooms-types .trade-up-columns {
  margin: 0 -250px;
}

.trade-up-col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.trade-up-card {
  background-color: #00263a;
  padding: 40px;
  color: #fff;
}

.trade-up-card h2 {
  color: #fff;
  margin: 0 0 20px;
  line-height: 1.3;
}

.trade-up-card .lead {
  font-size: 18px;
  line-height: 1.4;
  margin: 0 0 30px;
}

.popup-form-wrapper + .trade-up-columns {
  padding-top: 60px;
  margin: 0 -250px;
}

@media only screen and (max-width: 1280px) {
  .trade-up-columns {
    grid-template-columns: 1fr 1.8fr 1fr;
  }

  .btn.btn-secondary {
    padding-left: 20px;
    padding-right: 20px;
  }

  .trade-up-card h2 {
    font-size: 32px;
  }

  .trade-up-card .lead {
    font-size: 16px;
  }
}

.project-item__date-item + .btn-trade-in {
  margin-left: -6px;
}

.project-item__date .btn-trade-in {
  height: 26px;
  padding: 4px 5px 4px 20px;
  background-size: 10px;
  width: auto;
  border-radius: 4px;
}

@media only screen and (min-width: 768px) {
  .project-item__date .btn-trade-in {
    display: none;
  }

  .one-project-info._desktop .project-item__date .btn-trade-in {
    display: inline-block;
  }
}

@media only screen and (max-width: 767px) {
  .one-project-info._desktop .project-item__date {
    display: inline-block;
  }

  .widget-wrap {
    padding-right: 0;
    padding-left: 0;
    scroll-margin: 20px;
  }

  .page-one-project .widget-wrap {
    scroll-margin: 60px;
  }

  .page-tradein .widget-wrap {
    scroll-margin: 20px;
  }

  .trade-up-columns {
    grid-template-columns: 1fr;
    grid-gap: 5px;
    max-height: none;
    margin: 0 0 -54px;
  }

  .one-project__rooms-types .trade-up-columns {
    margin-left: -20px;
    margin-right: -20px;
  }

  .popup-form-wrapper + .trade-up-columns {
    padding-top: 30px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .header .btn-custom.btn-trade-in {
    padding: 5px 10px 6px 22px;
    background-size: 7px;
    width: 89px;
    height: 30px;
  }

  .header .btn-custom.btn-trade-in:hover {
    background-size: 7px;
  }

  .trade-up-card {
    padding: 30px 20px;
  }
}

/* raiffeisen.widget-demo styles */
.b-intro__block-buttons .btn-text {
  margin-left: 0;
}

.widget-wrap.raiffeisen {
  padding: 0;
  border: 0;
}

.widget-wrap.raiffeisen iframe{
  margin-bottom: 0 !important;
}

/* scor.widget-demo styles */
.widget-wrap.scor {
  padding: 0;
  border: 0;
}

.widget-wrap.scor iframe{
  border-radius: 30px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* alfabank.widget-demo styles */
.widget-wrap.alfabank {
  text-align: center;
  border-top: 0;
  padding-top: 60px;
  scroll-margin: 0;
}

.widget-wrap.alfabank .widget-wrap-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  margin: 0px 0 30px;
}

.realiste-widget-btn.alfabank {
  position: relative;
  display: inline-block;
  border: 0;
  background: rgba(239,49,36,.45);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 32px;
  padding: 7px 16px 8px;
  margin-right: 8px;
  border-radius: 32px;
  font-size: 14px;
  color: #0b1f35;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.realiste-widget-btn.alfabank:hover {
  background: rgba(11,31,53,.15);
}

/* rshb.widget-demo styles */
.widget-wrap.rshb {
  padding: 40px 15px 20px;
  border: solid #eee;
  border-width: 0 0 1px;
  scroll-margin: 0;
}

.widget-wrap.rshb .widget-wrap-inner {
  max-width: 1280px;
  margin: 0 auto;
}

.widget-wrap.rshb .widget-wrap-title {
  font-family: Proxima Nova;
  font-size: 28px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #242629;
  margin: 0;
}

/* domrfbank.widget-demo styles */
.widget-wrap.domrfbank {
  padding: 40px 0 0;
  width: 100%;
}

.widget-wrap.domrfbank iframe {
  border-radius: 24px !important;
}

.realiste-widget-btn.domrfbank {
  color: #fff;
  background: #8bc540;
}

/* mtsbank.widget-demo styles */
.widget-wrap.mtsbank {
  border: 0;
  padding: 40px 0 0;
  scroll-margin: 0;
}

.widget-wrap.mtsbank iframe {
  box-shadow: rgb(0 0 0 / 8%) 0px 9px 10px, rgb(0 0 0 / 8%) 0px 0px 8px !important;
}

.realiste-widget-btn.mtsbank {
  height: 52px;
  padding: 0px 32px;
  border: 2px solid rgb(227, 6, 17);
  border-radius: 8px;
  background-color: rgb(227, 6, 17);
  outline: none;
  display: inline-block;
  vertical-align: top;
  white-space: pre-line;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "MTS Sans", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-align: left;
  text-transform: none;
  transition: all 200ms ease 0s;
  font-size: 17px;
  color: #fff;
  line-height: 46px;
  margin-bottom: 20px;
}

.widget-wrap-title.mtsbank {
  white-space: pre-line;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "MTS Sans", Arial, Helvetica, sans-serif;
  text-align: left;
  text-transform: none;
  color: rgb(0, 0, 0);
  transition: all 200ms ease 0s;
  font-size: 32px;
  line-height: 1.4;
  font-weight: 700;
  text-transform: uppercase;
}

body.mtsbank a[aria-label='Главная страница'] {
  display: none;
}

/* kortros.widget-demo styles */
.realiste-widget-outer .b-logo-kortros {
  display: none;
}

.widget-wrap.kortros #realisteIframe {
  border-radius: 0 !important;
}

/* etalon.widget-demo styles */
body.etalon .b-header__logo {
  display: none;
}

.widget-wrap.etalon-group {
  max-width: 1020px;
  margin: 0 auto;
}

/* gk-osnova.widget-demo styles */
body.gk-osnova .menu-top__logo,
body.gk-osnova .footer__logo {
  display: none;
}

.widget-wrap.gk-osnova {
  max-width: 1556px;
  margin: 0 auto;
  border: none;
}

.widget-wrap-title.gk-osnova {
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: .03em;
  text-transform: uppercase;
  font-weight: 300;
}

.realiste-widget-btn.gk-osnova {
  position: relative;
  background: #c92335;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 200;
  padding: 10px 15px;
}

.realiste-widget-btn.gk-osnova:hover {
  opacity: .9;
}

/* very-botsad.widget-demo styles */
body.very-botsad .header__logo,
body.very-botsad .footer__logo,
body.very-botsad .footer__company {
  display: none;
}

.realiste-widget-btn.very-botsad {
  background: #fff;
  color: #000;
}

.realiste-widget-btn.very-botsad:hover {
  opacity: .9;
}

.widget-wrap.very-botsad {
  text-align: center;
  padding-top: 60px;
}

.widget-wrap-title.very-botsad {
  font-size: 60px;
}

/* uno-moscow.widget-demo styles */
body.uno-moscow .top-menu__logo,
body.uno-moscow .footer-block-menu__logo-link {
  display: none;
}

.realiste-widget-btn.uno-moscow {
  display: inline-block;
  text-decoration: unset;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  transition: background-color .3s ease-out,border .3s ease-out,color .3s ease-out;
  overflow: hidden;
  padding: 10px 20px;
  font-size: 13px;
  background: #ff5722;
  color: #fff;
  border: 1px solid #ff5722;
  line-height: 1.3;
  filter: brightness(1.4);
  
}

.realiste-widget-btn.uno-moscow:hover {
  opacity: .9;
}

.widget-wrap.uno-moscow {
  padding-top: 60px;
}

.widget-wrap-title.uno-moscow {
  max-width: 1140px;
  font-family: Panton,Tahoma,Arial;
  font-size: 40px;
  font-weight: 400;
  margin: 0 auto;
}

/* dream-towers.widget-demo styles */
body.dream-towers .logo a:not(.realiste-widget-btn.dream-towers),
body.dream-towers .flogo {
  display: none;
}

.realiste-widget-btn.dream-towers {
  background: #D39961;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.realiste-widget-btn.dream-towers:hover {
  opacity: .9;
}

.widget-wrap.dream-towers {
  padding-top: 60px;
}

.widget-wrap-title.dream-towers {
  max-width: 1310px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 60px;
  line-height: 1.1;
  color: #D39961;
}

@media screen and (min-width: 992px) {
  .realiste-widget-btn.uno-moscow {
    margin-left: -20px;
  }
}

@media only screen and (max-width: 767px) {
  /* raiffeisen.widget-demo styles */
  .widget-wrap.raiffeisen iframe{
    border-radius: 0 !important;
  }

  .widget-wrap.raiffeisen .e-title--h2 {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .widget-wrap.raiffeisen {
    margin: 0 -15px;
  }

  /* scor.widget-demo styles */
  .widget-wrap.scor iframe{
    border-radius: 0 !important;
  }

  /* alfabank.widget-demo styles */
  .widget-wrap.alfabank{
    padding-top: 0;
  }

  .widget-wrap.alfabank .widget-wrap-title {
    font-size: 22px;
    line-height: 26px;
    margin: 0 0 20px;
    padding: 0 15px;
    text-align: left;
  }

  /* rshb.widget-demo styles */
  .widget-wrap.rshb {
    padding-right: 0;
    padding-left: 0;
    scroll-margin: 0;
  }

  .widget-wrap.rshb .widget-wrap-title {
    font-size: 20px;
    padding-right: 15px;
    padding-left: 15px;
  }

  /* domrfbank.widget-demo styles */
  .mortgage-list__body {
    overflow: visible;
  }

  .widget-wrap.domrfbank {
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
    scroll-margin: 110px;
  }

  .widget-wrap.domrfbank iframe {
    border-radius: 0 !important;
  }

  .widget-wrap.domrfbank .widget-wrap-title {
    padding-right: 15px;
    padding-left: 15px;
  }

  /* mtsbank.widget-demo styles */
  .widget-wrap.mtsbank #realisteWidget {
    margin-left: -15px;
    margin-right: -15px;
  }

  .widget-wrap-title.mtsbank {
    font-size: 20px;
  }

  /* kortros.widget-demo styles */
  .widget-wrap.kortros {
    scroll-margin: 50px;
  }

  .trade-up-columns.kortros .b-info__descr-inner p {
    font-size: 14px;
    line-height: 1.6;
  }

  .trade-up-columns.kortros .trade-up-card h2 {
    font-size: 20px;
  }

  .widget-wrap-title.kortros {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* etalon.widget-demo styles */
  .widget-wrap.etalon-group {
    scroll-margin: 60px;
  }
  
  .widget-wrap-title.etalon-group {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* gk-osnova.widget-demo styles */
  .widget-wrap.gk-osnova {
    scroll-margin: 80px;
  }

  .widget-wrap.gk-osnova iframe {
    border-radius: 0;
  }

  .widget-wrap-title.gk-osnova {
    font-size: 20px;
    line-height: 28px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* very-botsad.widget-demo styles */
  .widget-wrap.very-botsad {
    padding-top: 40px;
    scroll-margin: 60px;
  }

  .widget-wrap-title.very-botsad {
    font-size: 42px;
    padding: 0 20px;
  }

  /* uno-moscow.widget-demo styles */
  .realiste-widget-btn-outer.uno-moscow {
    width: 100%;
    padding-top: 10px;
  }

  .widget-wrap.uno-moscow {
    padding-top: 60px;
  }

  .widget-wrap-title.uno-moscow {
    font-size: 24px;
    padding: 0 20px;
  }

  /* dream-towers.widget-demo styles */
  .widget-wrap.dream-towers {
    padding-top: 60px;
  }

  .widget-wrap-title.dream-towers {
    font-weight: 300;
    padding: 0 20px;
    text-align: center;
  }
}
