body {
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

.btn-custom {
  background: #00263a;
  display: inline-block;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.01em;
  color: rgba(255,255,255,0.8) !important;
  transition: .3s ease;
  border-radius: 2px;
  border: none;
}

.btn-custom.btn-trade-in {
  white-space: nowrap;
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='46' viewBox='0 0 27 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.88002 0L0.27002 26.45H9.48002L4.88002 46L26.73 18.4H16.38L25.58 0H4.88002Z' fill='%23EFCC00'/%3E%3C/svg%3E%0A");
  padding: 10px 10px 10px 29px;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 9px center;
  box-sizing: border-box;
}

.btn.btn-secondary {
  background-color: #ff671f;
  padding-right: 30px;
  padding-left: 30px;
}

.header .btn-custom.btn-trade-in {
  margin-right: 10px;
}

.header .btn-custom.btn-trade-in:hover {
  background: none;
  background-color: #fe7635;
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='46' viewBox='0 0 27 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.88002 0L0.27002 26.45H9.48002L4.88002 46L26.73 18.4H16.38L25.58 0H4.88002Z' fill='%23EFCC00'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 9px center;
}

.widget-wrap {
  padding: 20px 20px 0;
  border-top: 1px solid #eee;
  scroll-margin: 80px;
  position: relative;
  z-index: 1;
}

.page-one-project .widget-wrap {
  scroll-margin: 100px;
}

.page-tradein .widget-wrap {
  scroll-margin: 150px;
}

.trade-up-columns {
  display: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  max-height: 45rem;
}

.one-project__rooms-types .trade-up-columns {
  margin: 0 -250px;
}

.trade-up-col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.trade-up-card {
  background-color: #00263a;
  padding: 40px;
  color: #fff;
}

.trade-up-card h2 {
  color: #fff;
  margin: 0 0 20px;
  line-height: 1.3;
}

.trade-up-card .lead {
  font-size: 18px;
  line-height: 1.4;
  margin: 0 0 30px;
}

@media only screen and (max-width: 1280px) {
  .trade-up-columns {
    grid-template-columns: 1fr 1.8fr 1fr;
  }

  .btn.btn-secondary {
    padding-left: 20px;
    padding-right: 20px;
  }

  .trade-up-card h2 {
    font-size: 32px;
  }

  .trade-up-card .lead {
    font-size: 16px;
  }
}

.project-item__date-item + .btn-trade-in {
  margin-left: -6px;
}

.project-item__date .btn-trade-in {
  height: 26px;
  padding: 4px 5px 4px 20px;
  background-size: 10px;
  width: auto;
  border-radius: 4px;
}

@media only screen and (min-width: 768px) {
  .project-item__date .btn-trade-in {
    display: none;
  }

  .one-project-info._desktop .project-item__date .btn-trade-in {
    display: inline-block;
  }
}

@media only screen and (max-width: 767px) {
  .one-project-info._desktop .project-item__date {
    display: inline-block;
  }

  .widget-wrap {
    padding-right: 0;
    padding-left: 0;
    scroll-margin: 20px;
  }

  .page-one-project .widget-wrap {
    scroll-margin: 60px;
  }

  .page-tradein .widget-wrap {
    scroll-margin: 20px;
  }

  .trade-up-columns {
    grid-template-columns: 1fr;
    grid-gap: 5px;
    max-height: none;
    margin: 0 0 -54px;
  }

  .one-project__rooms-types .trade-up-columns {
    margin-left: -20px;
    margin-right: -20px;
  }

  .header .btn-custom.btn-trade-in {
    padding: 5px 10px 6px 22px;
    background-size: 7px;
    width: 89px;
    height: 30px;
  }

  .header .btn-custom.btn-trade-in:hover {
    background-size: 7px;
  }

  .trade-up-card {
    padding: 30px 20px;
  }
}
